html {
    box-sizing: border-box;
    height: 100%;
    background-color: #F9F7EC;
    font-family: 'Gentium Basic', serif;
    color: black;
}

*, *::before, *::after {
    box-sizing: inherit
}

body {
    margin: 0;
    min-height: 100%;
}

header {
    background-color: white;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 18px;
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#line {
    background-color: #B1DCE2;
    height: 12px;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    font-size: 24px;
}

#title:hover {
    background-color: unset;
    color: #B1DCE2;
}

h1 {
    margin-bottom: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navigation {
    max-width: 400px;
    margin: 20px;
}

li {
    list-style: none;
    margin-bottom: 15px;
}

.max-125 {
    max-width: 125px;
}

a {
    border: solid #B1DCE2;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 18px;
}

a:visited {
    color: black;
}

a:hover {
    background-color: #B1DCE2;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.a-2 {
    justify-content: center;
    width: 60%;
    font-size: 18px;
}

.a-2:visited {
    color: black;
}

.a-2:hover {
    background-color: #B1DCE2;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .mobile-width-100 {
        width: 100% !important;
        max-width: 100% !important;
    }

    .mobile-direction-column {
        flex-direction: column !important;
    }
}
